* {
  font-family: Tahoma;
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 40px 0 40px;
  background-color: black;
  height: 8vh;
}

.logo {
  display: flex;
  align-items: baseline;
  gap: 8px;
  margin-right: 32px;
}

.titulo{
    font-size: 30px;
}

.cor1 { color: #b9d2b5; }
.cor2 { color: #f4cb8d; }
.cor3 { color: #d1b2d2; }
.cor4 { color: #823549 } 
.cor5 { color: #b5e9f6; }

li {
  color: white;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}

.menu {
  list-style: none;
  display: flex;
}
.menu li {
  cursor: pointer;
  letter-spacing: 3px;
  margin-left: 32px;
}

.imagem img {
  margin-left: 15%;
  margin-top: 24px;
  width: 75%;
  height: auto;
  display: block;
}

.primeira-noticia {
  margin-top: 24px;
  margin-left: 15%;
}

h3 {
  opacity: 0.7;
  color: rgb(68, 64, 64);
}

H1{
  font-size: 2em;
}

p {
  font-weight: bold;
  color: rgb(44, 44, 44);
  opacity: 0.9;
}